.App {
  text-align: center;
}

.App-header {
  background-color: #212121;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 6vmin);
  color: white;
}

.App-nav {
  position: relative;
  z-index: 1;
}

.App-link {
  color: #2e64ea;
  margin: 0 20px;
  font-size: calc(10px + 2vmin);
}

.loading {
  display: block;
  position: relative;
  margin: 10px auto 50px;
  width: 100px;
  height: 100px;

}
.loading-wrapper {
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 13.889%;
  right: 13.889%;
}

.rect1 {
  position: absolute;
  bottom: 0;
  left: 4.3%;
  background: #2e64ea;
  width: 18.078%;
  height: 24.8%;
  border-radius: 8%;
  transform: skew(20deg);
  animation: rect1 1.2s linear infinite;
}

.rect2 {
  position: absolute;
  bottom: 0;
  left: 23.9%;
  background: #2e64ea;
  width: 18.078%;
  height: 49.8%;
  border-radius: 8%;
  transform: skew(20deg);
  animation: rect2 1.2s linear infinite;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.rect3 {
  position: absolute;
  bottom: 0;
  left: 38.2%;
  background: #2e64ea;
  width: 18.078%;
  height: 100%;
  border-radius: 8%;
  transform: skew(20deg);
  animation: rect3 1.2s linear infinite;
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.rect4 {
  position: absolute;
  top: 0;
  right: 27.9%;
  background: #2e64ea;
  width: 18.078%;
  height: 49.8%;
  border-radius: 8%;
  transform: skew(20deg);
  animation: rect4 1.2s linear infinite;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.rect5 {
  position: absolute;
  top: 0;
  right: 6.3%;
  background: #2e64ea;
  width: 18.078%;
  height: 24.8%;
  border-radius: 8%;
  transform: skew(20deg);
  animation: rect5 1.2s linear infinite;
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

@keyframes rect1 {
  0%, 40%, 100% {
    background-color: #2e64ea;
    height: 25%;
    left: 4.3%;
  }
  20% {
    background-color: #dcdcdc;
    height: 0;
    left: 11%;
    transform: skew(20deg);
  }
}
@keyframes rect2 {
  0%, 40%, 100% {
    background-color: #2e64ea;
    left: 23.9%;
    height: 50%;
  }
  20% {
    background-color: #dcdcdc;
    height: 0;
    left: 36.6%;
  }
}
@keyframes rect3 {
  0%, 40%, 100% {
    background-color: #2e64ea;
    height: 100%;
    left: 38.2%;
  }
  20% {
    background-color: #dcdcdc;
    height: 0;
    left: 64%;
  }
}
@keyframes rect4 {
  0%, 40%, 100% {
    background-color: #2e64ea;
    height: 50%;
    right: 27.9%;
  }
  20% {
    background-color: #dcdcdc;
    height: 0;
    right: 41%;
  }
}
@keyframes rect5 {
  0%, 40%, 100% {
    background-color: #2e64ea;
    height: 25%;
    right: 6.3%;
  }
  20% {
    background-color: #dcdcdc;
    height: 0;
    right: 13%;
  }
}
